{% extends 'base/main.html' %}
{% block content %}
    <div class="header-bar">
        <h1>
            Вхід
        </h1>
    </div>
    <form method="POST" style="padding-left: 10px">
        {% csrf_token %}
        <p>
            <span style="padding-left: 0px">{{ form.username }}</span>
        </p>
        <p>
            {{ form.password }}
        </p>
        <input type="submit" value="ввійти" class="button">
    </form>

    <p style="padding-left: 10px">
        Немає акаунту? <u><a href="{% url 'register' %}" style="color: darkblue">Створити</a></u>
    </p>
{% endblock content %}