{% extends 'base/main.html' %}
{% block content %}
    <div class="header-bar">
        <h1>
            {{ task.title }}
        </h1>
        <div><a href="{% url 'tasks' %}">назад</a></div>
    </div>
    <form method="POST" action="" style="padding: 10px">
        {% csrf_token %}
        <p>
            <label>Назва</label>
            <span style="padding-left: 20px">{{ form.title }}</span>
        </p>
        <p>
            <label>Опис</label>
            <span style="padding-left: 29px">{{ form.description }}</span>
        </p>
        <input type="submit" value="Оновити" class="button">
    </form>
{% endblock content %}