{% extends 'base/main.html' %}
{% block content %}
    <div class="header-bar">
    <div>
        <h1>Hello {{ request.user.username|title }}</h1>
        <h3>You have {{ count }} incomplete task{{ count|pluralize:"s" }}</h3>
    </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    </div>
<h1 style="padding-left: 10px">
    My To Do List
</h1>
<div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        <div class="task-title">
            {% if task.complete %}
                <div class="task-complete-icon"></div>
                <div>
                <s><i><a href="{% url 'task-update' task.id %}">{{ task.title }}</a></i></s>
                </div>
            {% else %}
                <div class="task-incomplete-icon"></div>
                <div>
                <a href="{% url 'task-update' task.id %}">{{ task.title }}</a>
                </div>
            {% endif %}
        </div>
    <div class="delete-task">
        <a href="{% url 'task-delete' task.id %}">&#215;</a>
    </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'task-create' %}">
    Create A New Task
</a>
{% endblock content %}